<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InstallWebsite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <InstallWebsite.Properties.Settings>
      <setting name="IdentityUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="IdentityPassword" serializeAs="String">
        <value />
      </setting>
    </InstallWebsite.Properties.Settings>
  </userSettings>
</configuration>